<div class="row">
    <div class="col">
        <img [src]="recipe.imagePath" alt="" class="img-responsive recipe-detail__img">
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>{{recipe.name}}</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Описание: {{recipe.desc}}</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Цена: ${{recipe.price}}</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown" appDropdown #r="appDropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Редактировать Рецепт
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{'show':r.isOpen}">
                <button class="dropdown-item" (click)="addToSl()">Добавить в корзину</button>
                <a class="dropdown-item" href="#">Редактировать</a>
                <a class="dropdown-item" href="#">Удалить</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Ингредиенты</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>