<a [routerLink]="[index]"
   routerLinkActive="active"
   class="d-inline-block mt-2">
  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-center">
      <img [src]=" recipe.imagePath" alt="" class="img-responsive w-100">
      <div class="d-flex w-100 justify-content-between mt-3">
        <h5 class="list-group-item__header mb-1 font-weight-bold mons">{{recipe.name}}</h5>
        <h5><b class="list-group-item__subheader mons">${{recipe.price}}</b></h5>
      </div>
      <p class="list-group-item__description mb-1">{{recipe.desc}}</p>
    </div>
  </div>
</a>
