body {
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}


::selection {
  background-color: #fcac19;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 0.02em
}

.mons {
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 0.02em
}
